<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airline Staff Dashboard</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/airline_staff_dashboard.css')}}">

    </head>
    <body>
        <header>
        <h1>Welcome, {{airline_name}} employee, {{ staff['first_name'] }}</h1>
        </header>
            <h2>View My flights</h2>
            <table>
                {% if future_flights %}
                    {%for elem in future_flights%}
                    <tr>
                        <td>{{ elem['flight_number'] }}</td>
                        <td>{{ elem['depart_date'] }}</td>
                        <td>{{ elem['depart_time'] }}</td>
                        <td>{{ elem['depart_airport_code'] }}</td>
                        <td>{{ elem['status'] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Currently, you have no future flights.</td>
                    </tr>
                {% endif %}
            </table> 
            <section>
                <h2>Create Flights</h2>
                <form action="/add_flight" method="POST">
                    <label for="flight_number"> Flight Number: </label>
                    <input type="text" id="flight_number" name="flight_number" required><br><br>

                    <label for="depart_date"> Depart Date: </label>
                    <input type="date" id="depart_date" name="depart_date" required><br><br>

                    <label for="depart_time"> Depart Time: </label>
                    <input type="text" id="depart_time" name="depart_time" pattern="(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)" placeholder="HH:MM:SS" required><br><br>

                    <label for="depart_airport_code"> Depart Airport Code: </label>
                    <input type="text" id="depart_airport_code" name="depart_airport_code" required><br><br>

                    <label for="arrival_date"> Arrival Date: </label>
                    <input type="date" id="arrival_date" name="arrival_date" required><br><br>

                    <label for="arrival_time"> Arrival Time: </label>
                    <input type="text" id="arrival_time" name="arrival_time" pattern="(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)" placeholder="HH:MM:SS" required><br><br>

                    <label for="arrival_airport_code"> Arrival Airport Code: </label>
                    <input type="text" id="arrival_airport_code" name="arrival_airport_code"><br><br>

                    <label for="base_price"> Base Price: </label>
                    <input type="number" step="0.01" id="base_price" name="base_price" required><br><br>

                    <label for="status"> Current Status: </label>
                    <input type="text" id="status" name="status"><br><br>

                    <label for="airplane_id"> Airplane Id: </label>
                    <input type="text" id="airplane_id" name="airplane_id"><br><br>

                    <input type="submit" value="Create Flight">
                </form>
            </section>
            
            <section>
                <form action="/change_flight_status" method="POST">
                    <h2>Change Flight Status</h2>

                    <label for="flight_number">Enter Flight Number:</label>
                    <input type="text" id="flight_number" name="flight_number" required>
                    
                    <label for="depart_date">Depart Date:</label>
                    <input type="date" id="depart_date" name="depart_date" required><br><br>
                    
                    <label for="depart_time">Depart Time:</label>
                    <input type="text" id="depart_time" name="depart_time" pattern="(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)" placeholder="HH:MM:SS" required><br><br>

                    <label for="status"> New Status: </label>
                    <select type="text" id="status" name="status" required><br><br>
                    <option value="ontime">Ontime</option>
                    <option value="delayed">Delayed</option>
                    <option value="cancelled">Cancelled</option>
                    </select>

                    <input type="submit" value="Change Status">
                </form>
            </section>

            <section>
                <form action="/add_airplane" method="POST">
                    <h2> Add Airplane </h2>
                    <label for="id_number">Airplane Id:</label>
                    <input type="text" id="id_number" name="id_number" required><br><br>

                    <label for="num_of_seats">Number of Seats:</label>
                    <input type="number" id="num_of_seats" name="num_of_seats" required><br><br>

                    <label for="manufacturing_company">Manufacturing Company:</label>
                    <input type="text" id="manufacturing_company" name="manufacturing_company" required><br><br>

                    <label for="model_number">Model Number:</label>
                    <input type="number" id="model_number" name="model_number" required><br><br>

                    <label for="manufacturing_date">Manufacturing Date:</label>
                    <input type="date" id="manufacturing_date" name="manufacturing_date" required><br><br>

                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" required><br><br>
                    
                    <input type="submit" value="Add Airplane">
                </form>
            </section>

            <section>
                <form action="/add_airport" method="POST">
                    <h2>Add New Airport</h2>

                    <label for="code">Airport Code:</label>
                    <input type="text" id="code" name="code" required><br><br>

                    <label for="name">Airport Name:</label>
                    <input type="text" id="name" name="name" required><br><br>

                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" required><br><br>

                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country" required><br><br>

                    <label for="number_of_terminals">Number of Terminals:</label>
                    <input type="number" id="number_of_terminals" name="number_of_terminals" required><br><br>

                    <label for="type">Type (International/Domestic/Both):</label>
                    <select type="text" id="type" name="type" required><br><br>
                    <option value="domestic">Domestic</option>
                    <option value="international">International</option>
                    </select>
                    <input type="submit" value="Add Airport">
                </form>
            </section>

            <h2> Reviews and Ratings for Flights </h2>
            <table>
                {% if reviews %}
                    {% for dict in reviews %}
                    <tr>
                        <td> {{ dict['airline_name'] }} </td>
                        <td> {{ dict['flight_number'] }} </td>
                        <td> {{ dict['depart_date'] }} </td>
                        <td> {{ dict['depart_time'] }} </td>
                        <td> {{ dict['rating'] }} </td>
                        <td> {{ dict['comment'] }} </td>
                    </tr>
                    {% endfor%}
                {% else %}
                    <tr>
                        <td colspan="4"> Currently, there are no comments and ratings for any flights </td>
                    </tr>
                {% endif %}
            </table>

            <form action="/schedule_maintenance" method="POST">
                <h2>Schedule Airplane Maintenance</h2>

                <label for="airplane_id">Airplane ID:</label>
                <input type="text" id="airplane_id" name="airplane_id" required><br><br>

                <label for="maintenance_id">Maintenance ID:</label>
                <input type="text" id="maintenance_id" name="maintenance_id" required><br><br>

                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required><br><br>
                
                <label for="start_time">Start Time:</label>
                <input type="text" id="start_time" name="start_time" pattern="(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)" placeholder="HH:MM:SS" required><br><br>
                
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required><br><br>
                
                <label for="end_time">End Time:</label>
                <input type="text" id="end_time" name="end_time" pattern="(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)" placeholder="HH:MM:SS" required><br><br>
                
                <input type="submit" value="Schedule Maintenance">
            </form>

            <h2>Most Frequent Customer Last Year:</h2>
            <p> Customer First Name: {{ customer_info['first_name'] }} </p>
            <p> Customer Last Name: {{ customer_info['last_name'] }} </p>
            <p> Customer Email: {{ customer_info['email_address'] }} </p>

    </body>
    <form action="/airline_staff_logout" method="GET">
        <input type="submit" value="Logout">
    </form>
    <footer>
        <p>&copy; 2024 New Flight. All rights reserved.</p>
    </footer>
</html>
